{% extends "_base.html" %}

{% block title %}Registration{% endblock %}

{% block content %}
    <h2>Registration</h2>
    <p>To register, you need to know the key which you can learn from, for example, the website administrator.
    <form method="POST">
        <dl>
        <dt>Username:</dt>   <dd>{{form.username}}</dd>
        <dt>Password:</dt>      <dd>{{form.password}}</dd>
        <dt>Confirm password:</dt><dd>{{form.confirm_password}}</dd>
        <dt>Email:</dt>      <dd>{{form.email}}</dd>
        <dt>Key:</dt>       <dd>{{form.key}}</dd>
        </dl>
        {{form.submit}}
    </form>
    {% if failed %}
        <p class="fail">Incorrect username or password.
    {% endif %}
{% endblock %}

