{% extends "_base.html" %}

{% block title %} Recent Changes {% endblock %}

{% block content %}

    <ol class="breadcrumb">
        <li><a href="{{ url_for('index') }}">{{ g.sitename }}</a>
        <li>User List
    </ol>
    <h2>User List</h2>
    <table class="table table-condensed">
        <thead>
            <tr>
                <td>id</td>
                <td>username</td>
                <td>votes</td>
                <td>registration date</td>
            </tr>
        <tbody>
        {% for user in users %}
            <tr>
                <td> {{ user.id }} </td>
                <td> {{ user.username }} </td>
                <td class="td-bar">
                    <div class="count">
                        {{ db.count_global_suggestions(user) }}
                    </div>
                    {{ completion_bar(None, bar_only=True, user=user) }}
                </td>
                <td>
                    {% if user.registered %}
                        {{ ago(user.registered) }}
                    {% else %}
                        první den
                    {% endif %}
                </td>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
